/* Temp Styles*/


/* General Styles */
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: #8D99AE;
    font-family: 'Source Code Pro', monospace;
  }

.container {
    display: grid;
    position: relative;
    grid-template-areas: "head left right"
                       "head left right" 
                       "head left right";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 4fr; 
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-decoration: none;
}

a, a:visited{
    cursor: pointer;
    color: #EDF2F4;
}

a:hover, a:active {
    color: #EF233C;
    transition: color .1s ease-in;
}


/* Header Styles */
header {
    background-color: #2B2D42;
    grid-area: head;
    display: grid;
    position: relative;
    grid-template-areas: "logo"
                        "menu"
                        "socials";
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

#logo {
    grid-area: logo;
    width: 100%;
}

#logo img {
    margin: 0.5rem 23%;
    max-width: 6.25rem;
}

#logo h2 {
    font-size: 2rem;
    margin: 0 20%;
}

#logo span {
    font-size: 1.5rem;
    margin: 0 11%;
}

.menu {
    grid-area: menu;
    align-self: center;
    width: 100%;
    height: auto;
}

.btn {
    background-color: #2B2D42;
    font-weight: 700;
    padding: 14px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #8D99AE;
}

#topbtn {
    border-top: 1px solid #8D99AE;
}

.btn:hover {
    background-color: #8D99AE;
    transition: color .1s ease-in, background-color .1s ease-in;
}
   
.btn:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}
  

.socials {
    width: 100%;
    grid-area: socials;
    align-self: center;
    grid-column: 1fr 1fr;
    text-align: center;
}

.socials img {
    max-height: 1.5rem;
}